<div class="search">
    <div class="search-container">
        <input type="text" id="search" placeholder="{{ site.data.trans[page.lang].search }}">
        <label for="search">search</a>
    </div>

    <div class="sort-container">
        <button class="popular">{{ site.data.trans[page.lang].popular }}</button>
        <button data-dropdown="#alphabetical-dropdown" class="az-sort">A - Z</button>
        <button data-dropdown="#number-dropdown" class="09-sort">0 - 9</button>
        <button data-dropdown="#difficulty-dropdown" class="diff-sort">{{ site.data.trans[page.lang].difficulty }}</button>
        <button class="reset">{{ site.data.trans[page.lang].reset }}</button>
    </div>
</div>

<main>
    <section class="sites" id="sites">
        <p class="no-results">{{ site.data.trans[page.lang].noresults }} <a href='https://github.com/jdm-contrib/jdm'>{{ site.data.trans[page.lang].noresultshelp }}</a>.</p>

        {% for entry in site.data.sites %}
            <section class="site-block {{ entry.difficulty }}"{% if entry.meta == 'popular' %} data-popular{% endif %}>
                {% capture lang_url %}url_{{ page.lang }}{% endcapture %}
                <a class="site-header" href="{% if entry[lang_url] %}{{ entry[lang_url] }}{% else %}{{entry.url}}{% endif %}">
                    <span class="name">{{ entry.name }}</span>
                    <img class="icon" src="{{ site.baseurl }}/assets/icons/link.svg" alt="URL" />
                </a>

                <p class="site-difficulty">
                    {% if entry.difficulty == 'easy' %}
                        {{ site.data.trans[page.lang].difficulty_easy }}
                    {% elsif entry.difficulty == 'medium' %}
                        {{ site.data.trans[page.lang].difficulty_medium }}
                    {% elsif entry.difficulty == 'hard' %}
                        {{ site.data.trans[page.lang].difficulty_hard }}
                    {% elsif entry.difficulty == 'limited' %}
                        {{ site.data.trans[page.lang].difficulty_limited }}
                    {% elsif entry.difficulty == 'impossible' %}
                        {{ site.data.trans[page.lang].difficulty_impossible }}
                    {% endif %}
                </p>

                {% capture lang_notes %}notes_{{ page.lang }}{% endcapture %}
                {% if entry.notes or entry[lang_notes] or entry.email or entry.difficulty == 'easy' %}
                    <div class="tooltip-content">
                        {% if entry[lang_notes] %}
                            {{ entry[lang_notes] }}
                        {% elsif entry.notes %}
                            {{ entry.notes }}
                        {% elsif entry.email %}
                            {{ site.data.trans[page.lang].defaultnote_email }}
                        {% elsif entry.difficulty == 'easy' %}
                            {{ site.data.trans[page.lang].defaultnote_easy }}
                        {% endif %}
                        {% if entry.email %}
                            {% if entry.notes or entry[lang_notes] %}
                                <br>
                            {% endif %}
                            <a href="mailto:{{ entry.email }}?Subject={% if entry.email_subject %}{{ entry.email_subject | replace: ' ', '%20' }}{% else %}Account%20Deletion%20Request{% endif %}&body={% if entry.email_body %}{{ entry.email_body | replace: ' ', '%20' }}{% else %}Please%20delete%20my%20account,%20my%20username%20is%20 XXXXXX{% endif %}">{{ site.data.trans[page.lang].sendmail }} &raquo;</a>
                        {% endif %}
                    </div>
                    <a href="#" class="tooltip-toggle contains-info">
                        <span class="show-info">{{ site.data.trans[page.lang].showinfo }}</span>
                        <span class="hide-info">{{ site.data.trans[page.lang].hideinfo }}</span>
                    </a>
                {% else %}
                    <p class="tooltip-toggle">{{ site.data.trans[page.lang].noinfo }}</p>
                {% endif %}
            </section>
        {% endfor %}
    </section>
</main>

<section id="about" class="info-block about">
    <div class="info-container">
        <div class="info-block-half">
            <h2>{{ site.data.trans[page.lang].whatisthis }}</h2>
            <p>{{ site.data.trans[page.lang].whatisthis1|safe }} <a href='https://darkpatterns.org'>{{ site.data.trans[page.lang].whatisthis2|safe }}</a> {{ site.data.trans[page.lang].whatisthis3|safe }}</p>
            <p>{{ site.data.trans[page.lang].whatisthis4|safe }} <a href='https://github.com/jdm-contrib/jdm'>{{ site.data.trans[page.lang].pullrequest|safe }}</a>.</p>
        </div>
        <div class="info-block-half">
            <h2>{{ site.data.trans[page.lang].guide }}</h2>
            <p>{{ site.data.trans[page.lang].guideexplanations }}</p>
            <ul>
                <li class="easy"><span class="difficulty">{{ site.data.trans[page.lang].difficulty_easy|safe }}</span> - {{ site.data.trans[page.lang].guideeasy|safe }}</li>
                <li class="medium"><span class="difficulty">{{ site.data.trans[page.lang].difficulty_medium|safe }}</span> - {{ site.data.trans[page.lang].guidemedium|safe }}</li>
                <li class="hard"><span class="difficulty">{{ site.data.trans[page.lang].difficulty_hard|safe }}</span> - {{ site.data.trans[page.lang].guidehard|safe }}</li>
                <li class="limited"><span class="difficulty">{{ site.data.trans[page.lang].difficulty_limited|safe }}</span> - {{ site.data.trans[page.lang].guidelimited|safe }}</li>
                <li class="impossible"><span class="difficulty">{{ site.data.trans[page.lang].difficulty_impossible|safe }}</span> - {{ site.data.trans[page.lang].guideimpossible|safe }}</li>
            </ul>
        </div>
    </div>
</section>

<div class="banner-block">
    <div class="banner-content">
        <div class="banner-block-half" id="extension_browser">
            <h2>{{ site.data.trans[page.lang].extension_browser|safe }}</h2>
            <p>{{ site.data.trans[page.lang].extensionp1|safe }}</p>
            <p>
                {% assign post_extension_link_text = site.data.trans[page.lang].extensionp5 | safe %}
                {% if post_extension_link_text == '' %}
                    {% assign post_extension_link_text = '.' %}
                {% endif %}
                {{ site.data.trans[page.lang].extensionp2|safe }}
                <a target='_blank' href='https://chrome.google.com/webstore/detail/justdeleteme/hfpofkfbabpbbmchmiekfnlcgaedbgcf'>{{ site.data.trans[page.lang].extensionp3|safe }}</a>
                /
                <a target='_blank' href='https://addons.mozilla.org/en-US/firefox/addon/justdeleteme/'>{{ site.data.trans[page.lang].extensionp4|safe }}</a>{{ post_extension_link_text }}
            </p>
        </div>
        <div class="banner-block-half">
            <h2>{{ site.data.trans[page.lang].extensionguide|safe }}</h2>
            <ul>
                <li><span class="dot-wrapper"><span class="dot easy"></span></span> - {{ site.data.trans[page.lang].guideeasy|safe }}</li>
                <li><span class="dot-wrapper"><span class="dot medium"></span></span> -  {{ site.data.trans[page.lang].guidemedium|safe }}</li>
                <li><span class="dot-wrapper"><span class="dot hard"></span></span> - {{ site.data.trans[page.lang].guidehard|safe }}</li>
                <li><span class="dot-wrapper"><span class="dot limited"></span></span> - {{ site.data.trans[page.lang].guidelimited|safe }}</li>
                <li><span class="dot-wrapper"><span class="dot impossible"></span></span> - {{ site.data.trans[page.lang].guideimpossible|safe }}</li>
            </ul>
        </div>
    </div>
    <div class="banner-block-extension_browser"></div>
</div>

<!-- Language dropdown -->
<div id="language-dropdown" class="language-dropdown dropdown dropdown-tip dropdown-relative">
    <ul class="dropdown-menu">
        {% assign sorted_files = (site.data.trans | sort:0) %}
        {% for lang in sorted_files %}
            {% assign lang_code = lang[0] %}
            {% if lang_code == 'en' %}
                {% assign url = './' %}
            {% else %}
                {% assign url = lang_code %}
            {% endif %}
            <li class="{{ lang_code }}"><a href="{{ url }}">{{ site.data.trans[lang_code].name }}</a></li>
        {% endfor %}
    </ul>
</div>

<!-- Alphabetical sorting -->
<div id="alphabetical-dropdown" class="dropdown dropdown-tip">
    <ul class="dropdown-menu ltr">
        <span class="alpha-sort">
            {% assign letters = 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z' | split:',' %}
            {% for letter in letters %}
            <li><a href="">{{ letter }}</a></li>
            {% endfor %}
        </span>
    </ul>
</div>

<div id="number-dropdown" class="dropdown dropdown-tip">
    <ul class="dropdown-menu ltr">
        <span class="alpha-sort">
            {% assign numbers = '0,1,2,3,4,5,6,7,8,9' | split:',' %}
            {% for number in numbers %}
            <li><a href="">{{ number }}</a></li>
            {% endfor %}
        </span>
    </ul>
</div>

<div id="difficulty-dropdown" class="dropdown dropdown-tip">
    <ul class="dropdown-menu">
        <span class="diff-sort">
            {% assign difficulties = 'easy,medium,hard,limited,impossible' | split:',' %}
            {% for difficulty in difficulties %}
                {% capture difficulty_value %}difficulty_{{ difficulty }}{% endcapture %}
                <li><a href="#">{{ site.data.trans[page.lang][difficulty_value] }}</a></li>
            {% endfor %}
        </span>
    </ul>
</div>
