<!DOCTYPE HTML>
<html>

<head>
    <title>{{ site.data.trans.[page.lang].title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-144x144-precomposed.png">

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/libs/jquery.dropdown.css" />

    <script src="{{ site.baseurl }}/assets/js/libs/jquery.js"></script>
    <script src="{{ site.baseurl }}/assets/js/libs/jquery.dropdown.js"></script>
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
</head>
{% if page.lang == 'ar' or page.lang == 'fa' %}
    {% assign rtl = true %}
{% else %}
    {% assign rtl = false %}
{% endif %}
<body lang="{{ page.lang }}"{% if rtl %} dir="rtl"{% endif %}>

<nav>
    <!-- begin language switcher -->
    <span class="language-switch" href="#" data-dropdown="#language-dropdown" id="{{ page.lang }}">{{ site.data.trans[page.lang].name }}</span>
    <!-- end language switcher -->
    <a href="#about" class="info">About</a>
</nav>

<header>
    <h1>Just<span>Delete</span>Me</h1>
    <p class="tagline">{{ site.data.trans.[page.lang].tagline }}</p>

    <p>
        <a href="#extension" class="button banner">Chrome Extension</a>

        <a class="button" href="https://github.com/jdm-contrib/jdm">Fork&nbsp;on&nbsp;GitHub</a>

        <a class="button" href="https://twitter.com/intent/tweet?text=Just+Delete+Me+-+A+directory+of+direct+links+to+delete+your+account+from+web+services.+http%3A%2F%2Fjustdeletme.xyz">Tweet JDM</a>
    </p>
</header>
