<!DOCTYPE HTML>
<html>

<head>
    <title>{{ site.data.trans.[page.lang].title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="title" content="JustDeleteMe">
    <meta name="description" content="{{ site.data.trans.[page.lang].tagline }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.baseurl }}">
    <meta property="og:title" content="JustDeleteMe">
    <meta property="og:description" content="{{ site.data.trans.[page.lang].tagline }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.baseurl }}">
    <meta property="twitter:title" content="JustDeleteMe">
    <meta property="twitter:description" content="{{ site.data.trans.[page.lang].tagline }}">

    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-144x144-precomposed.png">

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/icons/favicon.ico">
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/libs/jquery.dropdown.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <link type="application/opensearchdescription+xml" rel="search" href="{{ site.baseurl }}/opensearch.xml" title="JustDeleteMe">

    <script src="{{ site.baseurl }}/assets/js/libs/jquery.js"></script>
    <script src="{{ site.baseurl }}/assets/js/libs/jquery.dropdown.js"></script>
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
</head>
{% if page.lang == 'ar' or page.lang == 'fa' %}
    {% assign rtl = true %}
{% else %}
    {% assign rtl = false %}
{% endif %}
<body lang="{{ page.lang }}"{% if rtl %} dir="rtl"{% endif %}>

<nav>
    <a class="language-switch" href="#" data-dropdown="#language-dropdown">
        <img class="icon" src="{{ site.baseurl }}/assets/icons/language.svg" alt="A|文"/>
    </a>
    <a href="#about" class="info">{{ site.data.trans.[page.lang].about }}</a>
</nav>

<header>
    <h1>Just<span>Delete</span>Me</h1>
    <p class="tagline">{{ site.data.trans.[page.lang].tagline }}</p>

    <p>
        <a href="#extension_browser" class="button banner">{{ site.data.trans[page.lang].extension_browser }}</a>

        <a class="button" href="https://github.com/jdm-contrib/jdm">{{ site.data.trans[page.lang].contribute }}</a>

        <a class="button" href="https://twitter.com/intent/tweet?text={{ site.data.trans[page.lang].title | replace: ' ', '+' }}+https%3A%2F%2Fjustdeleteme.xyz">{{ site.data.trans.[page.lang].twitter }}</a>

        <a class="button jgmd" href="https://justgetmydata.com{%if page.lang != 'en'%}/{{page.lang}}{% endif %} "> {{site.data.trans[page.lang].jgmd }}</a>
    </p>
</header>
